nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
}

nav ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 3rem;
	cursor: pointer;
}

nav ul li:hover {
	background-color: #80808010;
}
